@font-face {
    font-family: 'pro';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

  body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: 'pro';
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target{
    border: 2px solid red;
    display: inline-block;
}
