@font-face {
    font-family: 'pro';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

  body,html {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

}
* {
    box-sizing: border-box;
    font-family: 'pro';
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target{
    display: inline-block;
    font-size: 16vw;
}







body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, red, blue );
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
}
.containerX {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}
h1 {
	font-weight: 900;
}
a {
	text-decoration: none;
	color: #212121;
}
@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}